<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->


		<title>Healthcare Blog </title>

</head>
<body>
	
      <div class="centered" style="font-size: 60px"><b>Healthcare ML Web Application</b></div>

        <div class="container">
          <div class="topnav">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('heartdisease') }}">Heart Disease</a>
            <a href="{{ url_for('liverdisease') }}">Liver Disease</a>
            <a href="{{ url_for('breastcancer') }}">Breast Cancer</a> 
            <a href="{{ url_for('diabetes') }}">Diabetes</a>
            <a href="{{ url_for('kidneydisease') }}">Kidney disease</a>
          </div>   
	      </div>
	  </div>


</body>
</html>